VITE_BASE_PATH=https://staging.primus.vn
VITE_API_URL_V1=https://staging-api.primus.vn/api
VITE_API_URL_V2=https://staging-api2.primus.vn/api
VITE_CRM_API_URL=https://staging-api2.primus.vn/api
PORT=80
TOKEN=eyou
